*.pyc

# Packages
/dist/*
__pycache__/

# Unit test / coverage reports
.coverage
.pytest_cache
.pycache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache
.ruff_cache
.skylos

.venv

node_modules
.husky
